{% extends 'bunnyapp/base.html' %}

{% block content %}

<div class="container row">
    <div class="col-3 border border-dark">
        <h3> Chasseur</h3>
        <p>Nombre de balles : {{ hunters.0.bullet }}</p>
        <p>{{ hunters.0.message }}</p>
        <h3>Lapins</h3>
        {% for rabbit in rabbits %}
            <p>({{ rabbit.position_x }}, {{ rabbit.position_y }}) : {{ rabbit.message }}</p>
        {% endfor %}
         <form method="post" action="{% url 'game' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Déplacer</button>
        </form>
    </div>
    <div class="col-9">
        <table class="table table-bordered">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>
                        {% load static %}
                        {% if cell == 'tree' %}
                        <img src="{% static 'bunnyapp/tree.png' %}" alt="Tree">
                        {% endif %}
                        {% if cell == 'hunter' %}
                        <img src="{% static 'bunnyapp/hunter.png' %}" alt="Hunter">
                        {% endif %}
                        {% if cell == 'rabbit' %}
                        <img src="{% static 'bunnyapp/brown_rabbit.png' %}" alt="Rabbit">
                        {% endif %}
                        {% if cell == 'burrow' %}
                        <img src="{% static 'bunnyapp/burrow.png' %}" alt="Burrow">
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}